:root {
    --background-color: #121215;
    --card-color: #1e1e21;
    --border-color: #fe63a1;
    --border-color-secondary: #333333; 
    --text-color: aliceblue;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}